@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
    font-size: 20px;
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
    font-family: 'Inter', sans-serif;
   
}

.header {
    color: white;
    padding: 1rem 1rem;
    background-color: #6943FF;
    width: 100%;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem;
    border: none;
    background-color: #F4F4F4;
    color: #3D3D3D;
    font-weight: 600;
    font-size: 1rem;
}

main {
     width: 100%;
     
}

main .container {
    background: #fff;
    width: %100;
    margin: 1rem 1rem;
    border-radius: 0.1em 0.1rem;
    padding: 0.2rem 0.2rem 1rem 0.2rem;
}

main h4 {
    color: #5A537B;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

main p {
    color: #353535;
    font-size: 0.6rem;
    margin: 0;
}

#input {
    border: 1px solid #F4F4F4;
    display: inline-flex;
    padding: 1rem 1rem;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
}